<div>
  <h1> <%= @lesson.name %> </h1>
  <h4> Lesson <%= @lesson.number %> </h4>
</div>

<ul class="nav nav-tabs">
  <li class="active"> <a> Text </a> </li>
</ul>

<div id="big_box">

  <form role="form" action="/<%= @lesson.id %>" method="post">
    <div class="form-group">
      <input name="_method" type="hidden" value="patch">
      <label for="lesson_content"> Lesson Description: </label>
      <textarea rows="10" cols="50" id="lesson_content" name="content"  class="form-control"  type="text" name="content"><%= @lesson.content %></textarea>
      <label for="lesson_name"> Lesson Name: </label>
      <input id="lesson_name" class="form-control" type="text" name='name' placeholder="Type here...">
      <label for="lesson_number"> Lesson Number: </label>
      <input id="lesson_number" class="form-control" type="text" name='number' placeholder="#...">
    </div>
    <button class="btn btn-success btn-sm"> Update </button>
  </form>

</div>

