<!DOCTYPE html>
<html>
<head>
  <title>SiteRebuild</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>

<div class="footer">
  <ul>
    <li class="inline"><a href="/"><p id="footer_link">Table of Contents</p></a></li>
    <li class="inline"><a href="/"><p id="footer_link">Lesson Manager</p></a></li>
  </ul>
</div>

</body>
</html>
